:root {
    /* CSS HEX */
    --primary-bg: #ffefd5;

    /* CSS HSL */
    --beige: hsla(80, 41%, 89%, 1);
    --beige-2: hsla(71, 33%, 83%, 1);
    --ash-gray: hsla(82, 19%, 72%, 1);
    --rufous: hsla(11, 91%, 34%, 1);
    --smoky-black: hsla(76, 73%, 3%, 1);
}

body {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}