@import './main.css';

#hamburger {
    height: 2.5rem;
    width: 2.5rem;
}

#hamburger > path {
    fill: var(--smoky-black);
}

#rocket {
    height: 4rem;
    width: 4rem;
}

nav {
    min-height: 3.3rem;
    margin-inline-start: 1rem;
    font-family: 'Pixelify Sans';

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* outline: 2px solid red; */
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul > li {
    display: inline-block;
    margin-inline-end: 1rem;
    font-weight: 700;
    font-size: large;
}

ul li:last-child {
    transform: translateY(.2rem);
}